<div class="home-result">
  <div class="panel-body" align ="center">
    <% if @flights.empty? %>
      <h4 class="text-info">No Flights found for the specified locations</h4>
    <% else %>
      <h2 class="text-info"><small>Search results for flights from</small>
        <%= @flights.first.departure_airport.state %> <small>to</small> <%= @flights.first.arrival_airport.state %>
        <small>starting from</small> <%= DateTime.parse(params[:departure_date]).strftime("%b %d, %Y") %>
      </h2>
      <hr>
      <%= render 'flights/flights' %>
    <% end %>
    <br>
    <%= link_to 'All Flights', flights_path, class: "btn btn-primary pull-right"%>
    <%= link_to 'close', :back, class: "btn btn-danger pull-left"%>
  </div>
</div>