<div class="pages">
  <div class = "container center">
    <%= bootstrap_flash %>
    <div class ="row">
      <div class =" col-md-12">
        <h2 align= "center" class = "text-info"><small>Your Booking For Flight</small> "<%= @selected_flight.airline_name %> #<%= @selected_flight.flight_code %>" <small>from</small> <%= @selected_flight.departure_airport.state %> <small>to</small> <%= @selected_flight.arrival_airport.state %> <small>was successful.</small></h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class = "col-md-6">
        <h3 class = "text-info" ><strong>Flight Details</strong></h3>
        <hr>
        <h4><strong>Airline:</strong> <%= @selected_flight.airline_name %></h4>
        <h4><strong>From:</strong> <%= @selected_flight.departure_airport.name %></h4>
        <h4><strong>To:</strong> <%= @selected_flight.arrival_airport.name %></h4>
        <h4><strong><h4><strong>Take off date:</strong>
        <%= @selected_flight.departure_date.strftime('%d - %m - %Y') %>, <%= @selected_flight.departure_date.strftime('%-l:%M%P') %></h4>
        <h4><strong>Landing Date: </strong></strong>
        <%= @selected_flight.arrival_date.strftime('%d - %m - %Y') %>, <%= @selected_flight.arrival_date.strftime('%-l:%M%P') %></h4>
        <h4><strong>No of seats reserved:</strong> <%= @passengers.count %></h4>
        <h4><strong>Total Price: </strong><%= number_to_currency(@booking.total_price, locale: :us) %>  </h4>
      </div>

      <div class = "col-md-4">
        <h3 class = "text-info"> <strong>Passengers Details</strong></h3>
        <hr>
        <% @passengers.each do |passenger| %>
        <p>Name: <%= passenger.name %> </p>
        <p>Email: <%= passenger.email %></p>
        <hr>
        <% end %>
      </div>

      <% if current_user %>
        <% if current_user.id == @booking.user_id %>
          <div class = "col-md-2">
            <span class="pull-right">
            <%= link_to content_tag(:i, '', class: "glyphicon glyphicon-edit btn btn-primary", title: "Edit"), edit_booking_path(@booking) %>
            <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash btn btn-primary", title: "Delete"), @booking, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>