<%= form_tag({controller: 'flights', action: 'search'}, method: 'post', remote: true, class: 'search-flight') do %>
  <div class="form-group">
    <%= label_tag :from, "Departure Airport?" %>
    <%= select_tag :from, options_for_select(@airports.collect { |airport| [airport.name, airport.id] }), class: "form-control  transparent-input", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :to, "Arrival Airport?" %>
    <%= select_tag :to, options_for_select(@airports.collect { |airport| [airport.name, airport.id] }), class: "form-control  transparent-input", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :number_of_passengers, "How many Passengers?" %>
    <%= select_tag :number_of_passengers, options_for_select((1..10)), class: "form-control  transparent-input", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :departure_date, "When do you want to leave?" %>
    <div class="input-group">
      <input id="date-picker" type="date" name="departure_date" class="date-picker form-control transparent-input", required = 'true' />
      <label for="date-picker" class="input-group-addon btn">
        <span class="glyphicon glyphicon-calendar"></span>
      </label>
    </div>
  </div>

  <%= submit_tag 'Search Flights', class: 'btn btn-default btn-lg btn-block', onclick: "validateFields(event)" %>
<% end %>